html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3 {
  line-height: 1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}